# IntelliJ & Android Studio
.gradle
.idea
*.iml
captures
local.properties

# Build Artifacts
build
gen
out
.externalNativeBuild

# Mac
.DS_Store

# Key Store
keystore.properties
*.keystore

# Firebase Config
app/src/release/google-services.json
