language: android
dist: trusty

env:
  global:
    - ADB_INSTALL_TIMEOUT=10

android:
  components:
    - tools
    - platform-tools
    - build-tools-30.0.1
    - android-30
    - sys-img-arm64-v8a-google_apis-25

jdk:
  - oraclejdk8

branches:
  only:
    - master

before_script:
  - android list targets
  - echo no | android create avd --force -n test -t android-25 --abi google_apis/arm64-v8a
  - emulator -avd test -no-window &
  - android-wait-for-emulator
  - adb shell settings put global window_animation_scale 0 &
  - adb shell settings put global transition_animation_scale 0 &
  - adb shell settings put global animator_duration_scale 0 &
  - adb shell input keyevent 82 &

script:
  - ./gradlew -Pcoverage -PdisablePreDex clean coveralls

notifications:
  email: false
